#root {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Space Grotesk", sans-serif;
}

a {
  text-decoration: none;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #FFD700 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ba04b7;
  border: 1px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ff00cc;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ff00cc;
}


.slider-coin__price {
  font-weight: 600;
  margin-top: 0.5rem;
  font-size: 2.2rem;
}

.red-text {
  color: red !important;
}

.green-text {
  color: rgb(14, 203, 129) !important;
}

.mobile-btn-hero {
  display: none;
  font-size: 2rem;
  font-weight: 600;
  width: 25rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 4rem;
  background: linear-gradient(25deg, #2600fc, #ff00ea);
  color: #f3f2f4;
  border-radius: 10rem;
  transition: all 0.2s;
  margin: 0 auto;
  margin-top: 3rem;
}
@media (max-width: 600px) {
  .mobile-btn-hero {
    display: flex;
  }
}

.market-section {
  background-color: #0f051d;
  padding: 5rem 0;
}

.market-content {
  display: flex;
  flex-direction: column;
}
.market-content h2 {
  color: #f3f2f4;
  font-size: 4.5rem;
  margin-bottom: 3rem;
}
@media (max-width: 430px) {
  .market-content h2 {
    font-size: 4rem;
  }
}
.market-content__coin-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow-x: auto;
}
.market-content__coin-list__top {
  display: grid;
  grid-template-columns: 16fr 25fr 25fr 25fr;
  color: #f3f2f4;
  font-size: 2.2rem;
  padding: 1.5rem;
  text-align: right;
  font-weight: 500;
  background: linear-gradient(25deg, #2600fc, #ff00ea);
  border-radius: 8px 8px 0 0;
  gap: 2rem;
}
@media (max-width: 800px) {
  .market-content__coin-list__top {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .market-content__coin-list__top p {
    width: 18rem;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .market-content__coin-list__top {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.market-content__coin-list__top p:first-child {
  text-align: left;
}
.market-content__coin-list__row {
  display: flex;
  flex-direction: column;
}
.market-content__coin-list__pagination {
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.market-content__coin-list__pagination button {
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #f3f2f4;
}
 .activePagi {
  background: linear-gradient(25deg, #ff00cc, #FFD700);
  color: #f3f2f4;
}
 .coin-row {
  display: grid;
  grid-template-columns: 16fr 25fr 25fr 25fr;
  color: #f3f2f4;
  font-size: 2.2rem;
  padding: 2.5rem 1.5rem;
  text-align: right;
  font-weight: 500;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #f3f2f4;
  align-items: center;
  gap: 2rem;
  background-color: #2b1744;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
 .coin-row:hover {
  background-color: #200840;
  cursor: pointer;
}
@media (max-width: 700px) {
 .coin-row {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 800px) {
 .coin-row p:last-child {
    width: 23rem;
  }
}
@media (max-width: 800px) {
 .coin-row p {
    width: 15rem;
  }
}
.coin-row span {
  text-align: left;
  align-items: center;
  display: flex;
  gap: 2rem;
}
@media (max-width: 800px) {
  .coin-row span {
    width: 19rem;
  }
}
 .coin-row span img {
  width: 5rem;
  height: 5rem;
}

.description a {
  color: rgb(14, 203, 129);
}